$background-color-dark:white;
$background-color-theme1:#2d262d;
$background-color-theme2: #652BF5;
$background-color-theme3: deepskyblue;
$background-color-themesec: #edc148;

$box-shadow-color:0 0 #0000,
0 0 #0000,
-0 0 #0000,
0 0 #0000,
0 4px 6px -1px rgb(0 0 0 / 0.1),
0 2px 4px -1px rgb(0 0 0 / 0.06);
$box-shadow-color-theme1:10px 10px 20px #0F3256,
-10px -10px 20px #0F3256;


$font-color-c6875c:#c6875c;
$font-color-bd827c:#bd827c;
$font-color-d9c19f:#d9c19f;
$font-color-9388b3:#9388b3;
$font-color-8a9cc2:#8a9cc2;
$font-color-2d262d:#2d262d;
$font-color-232122:#232122;
$font-color-7aa297:#7aa297;
$font-color-2B5575:#2B5575;








//字体定义规范
$font_little_s:10px;
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;